* {
     box-sizing: border-box;
}

.container {
     position: relative;
     width: 100%;
     margin: 0 auto;
}

#background-morpheus {
     width: 100%;
     height: auto;
     opacity: 0.5;
}

#header-container {
    width: 100%;
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
     width: 100%;
     /* padding: 5px 0 10px; */
     margin: 0 auto;
}

/* title  */
h1 {
     font-family: "Monoton", cursive;
     font-size: 3em;
     text-align: center;
}

/* subheader  */
h3 {
     font-family: "Permanent Marker", cursive;
     width: 100%;
     padding-bottom: 10px;
     text-align: center;
     font-size: 1.5em;
}

#win-loss {
     position: absolute;
     top: 28%;
     right: 2%;
     background-color: black;
     opacity: 0.75;
}

#guesses {
     position: absolute;
     top: 65%;
     left: 2%;
     background-color: black;
     opacity: 0.95;
}

/* table data  */
p {
     color: white;
     font-family: "Audiowide", cursive;
     font-size: 1.5em;
     margin: 5px;
     padding: 10px;
}
