* {
    box-sizing: border-box;
}

header {
    font-family: 'Monoton', cursive;
    font-size: 2.5em;
    width: 100%;
    text-align: center;
    padding: 5px 0 10px;
}

p {
    font-family: 'Permanent Marker', cursive;

    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.3em;


}

.counter {
    font-family: 'Audiowide', cursive;
    margin: 5px;
    padding: 10px 0 10px 20px;
}