* {
     box-sizing: border-box;
}

header {
     width: 100%;
     padding: 5px 0 10px;
     margin: 0 auto;
}

/* title  */
h1 {
     font-family: "Monoton", cursive;
     font-size: 3em;
     text-align: center;
}

/* subheader  */
h3 {
     font-family: "Permanent Marker", cursive;
     width: 100%;
     padding-bottom: 10px;
     text-align: center;
     font-size: 1.5em;
}

.container {
     position: relative;
}

#background-morpheus {
     width: 100%;
     height: auto;
     opacity: 0.5;
}

#win-loss {
     position: absolute;
     top: 5%;
     right: 2%;
     background-color: black;
}

#guesses {
     position: absolute;
     top: 45%;
     left: 2%;
     background-color: black;
     opacity: 0.75;
}

/* table data  */
p {
     color: white;
     font-family: "Audiowide", cursive;
     font-size: 2em;
     margin: 5px;
     padding: 10px;
}
